* {
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

h1 {
  color: navy;
}

.input-group {
  position: relative;
  display: inline-block;
}

.input {
  border-color: black;
  border-style: solid;
  padding: 8px;
  border-radius: 5px;
}

.input-label {
  background-color: white;
  color: black;
  font-size: 11px;
  position: absolute;
  left: 25px;
  top: -6px;
  padding: 0 2px;
}

.post {
  background-color: lightgray;
  color: black;
  border: 2px solid gray;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  padding: 20px;
  width: 60%;
}

.post:hover {
  transition: all .2s ease-out;
  transform: scale(1.01);
  color: green;
}

.user-name {
  font-size: larger;
}

.post-text {
  font-size: medium;
}
